.comment-movies
    .container  
        .row
            .col-lg-3
                img(src="{{movie.Poster}}")
            .col-lg-9
                h2 {{movie.Title}} ({{movie.Year}})
                p {{movie.Plot}}
                .row
                    .col-lg-6.text-center
                        span(*ngIf="isRecommendedAvaliable")
                            circle-progress([percent]="percentageRecomendeded")
                    .col-lg-6.comment-movies__info
                        .row
                            .col-lg-2
                                strong Genre:
                            .col-lg-10.text-right  
                                p {{movie.Genre}}
                        .row
                            .col-lg-4
                                strong Release Date:
                            .col-lg-8.text-right  
                                p {{movie.Released}}
                        .row
                            .col-lg-4
                                strong Duration:
                            .col-lg-8.text-right  
                                p {{movie.Runtime}}
        .row
            .col-lg-3
            .col-lg-9(*ngIf="isRecommendedAvaliable" class="text-center" )
                h3 General Reviews
                ngb-rating(class="comment-movies__general-rate"  '[(rate)]'='generalReviewStars'  '[readonly]'="true") 
        .row(*ngFor="let viewPost of posts | async")
            .col-lg-3
            .col-lg-9
               app-post-view([post] = "viewPost.value", [uniqueId] = "viewPost.key", [modal] = 'modalReview')
        .row
            .col-lg-3
            .col-lg-9
                button(class="btn btn-primary" '(click)'= 'onClickNewPost()') Post review

app-modal-review('(onSubmitReviewMovieModal)' = 'saveMovieComments($event)',  '(onEditReviewMovieModal)' = 'editMovieComments($event)', [type]='type')