.card-holder.text-center 
    img(class="rounded" '(click)'="goToCommentSection()" src="{{imageUrl}}" )
    .card-holder__rate
         ngb-rating(  '[(rate)]'='stars' '[readonly]'="true") 
    p {{ title }}
 
br