.main-menu
  .main-menu__title 
      p MENU
  ul.main-menu__navigation
    li(routerLink='/movies')
      i(class="fa fa-film" aria-hidden="true")
      a(routerLink='/movies') MOVIES
    li(routerLink='/books')
      i(class="fa fa-book" aria-hidden="true")
      a(routerLink='/books') BOOKS
