.container
  .row
    .col-lg-4
      .card
        .card-header
          span Books
        .card-block
          h4.card-title 
            span Books
          p.card-text 
            span Redirects to a list of books
          a(href='/' class='btn btn-primary') Go to Books
    .col-lg-4
      .card
        .card-header
          span Movies
        .card-block
          h4.card-title 
            span Movies
          p.card-text 
            span Redirects to a list of movies
          a(href='/' class='btn btn-primary') Go to Movies