.card-holder {
    height: 344px;
    width: 255px;
    margin: 40px 20px 40px 20px;

    & .card-holder__rate{
        padding-top: 10px;
        
        color: #FFC000;
        font-size: 40px;
        & :focus {
            outline: none;
        }
    }
    img {
        cursor: pointer;
    }
    p {
        font-size: 16px;
        padding-top: 10px;
        overflow:hidden; 
        white-space:nowrap; 
        text-overflow: ellipsis;
    }
}