@mixin vertical-align($position) {
    position:$position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  @mixin all-transition($time) {
      transition: all $time;
      -webkit-transition: all $time;
  }
  
  .main-menu {
  
      font-weight: 100;
      background: #FAE906;
      transform: translate3d(-130px, 0, 0);
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      width: 180px;
      height: 30%;
      left: 0px;
      position: fixed;
      z-index: 100;
      -webkit-box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
      box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
      @include all-transition(0.3s);

      & p {
        color: #373737;
      }
  
      &:hover, &:focus
      {
          transform: translate3d(1px, 0, 0);
          animation-timing-function: 1s ease-in;

          & p {
              display: none;
          } 
      }

      &__title
      {
          top:50%;
          @include vertical-align(absolute);
          transform: rotate(270deg);
          right: 10px;
          font-weight: 800;
          font-size: 15px;
  
      }
      &__navigation
      {
          @include vertical-align(absolute);
          font-weight: 100;
          width: 100%;
          padding: 0;

          i {
              display: inline-block;
              font-size: 2em;
          }
  
          li
          {
            padding: 20px 0 20px 10px;
            list-style-type: none;

            &:focus {
                outline: none;
            }

            &:hover
            {
                background-color: #aaa;
                cursor: pointer;
            }

            a
            {
                padding-left: 30px;
                display: inline-block;;
                text-decoration: none;
                color: inherit;
                @include all-transition(0.3s);
            }
          }

          li:nth-child(2)   {
            & a {
                padding-left: 35px;
            }
          }       
      }  
  }
  