.post-review {
    background-color: #EAEAEA;
    padding: 10px;
    border-radius: 10px;
    color: #000;

    &__title {
        margin-bottom: 30px;
        font-style: italic;
    }

    &__stars {
        height: 60px;
        font-size: 4em;
        color: #E0A53D;
        &:focus {
            outline: none;
        }
    }

    &__rate {
        text-transform: uppercase;
        position: relative;
        top: 23px;
    }

    p {
        color:#000;
        margin: 0px;
    }

    textarea {
        width: 100%;
    }
}